/* text image home */
/* text image home */
/* text image home */
/* text image home */
/* text image home */

.img-text-home  {
    /* border: black 1px solid; */
    font-size: 250px;
    text-transform: uppercase;
    font-weight: 900;
    position: relative;
    left: 750px;
    top: 275px;
    transform: translate(-580px, -270px);
    letter-spacing: 20px;
    margin: 0;
    padding: 0;
    background: url(image.jpg) 0% 0%;
    background-size: cover;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    max-width: fit-content;
}